<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  </head>
  <body>
    <div>
      <div class="header-blue">
        <nav class="navbar navbar-expand-lg navbar-red navbar-dark navbar-transparent fixed-top">
          <div class="wrapper"></div>
          <div class="container-fluid all-show">
            <a class="navbar-brand ml-auto" href="#">Mutia Zayyana </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="layanan.html">Layanan</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="kontak.html">contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container hero">
          <div class="row">
            <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"></div>

            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
              <h1>Sanggar Mutia Jayyana</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.<br />
              </p>
            </div>

            <div class="boxes">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="produk-home">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <center>
              <h3 class="mt-5">Layanan Kami</h3>
              <hr width="100rem" height="2rem" />
            </center>
            <div class="owl-carousel owl-theme mt-5">
              <div class="owl-item">
                <div class="card card-produk">
                  <div class="img-card"><img src="assets/img/Sanggar Tari.jpg" alt="" /></div>
                  <div class="testimonial mt-4 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis.</div>
                  <div class="name">Dancer</div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card card-produk">
                  <div class="img-card"><img src="assets/img/Fotografi.jpg" alt="" /></div>
                  <div class="testimonial mt-4 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis.</div>
                  <div class="name">Fotographer</div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card card-produk">
                  <div class="img-card"><img src="assets/img/Makeup Artist.jpg" alt="" /></div>
                  <div class="testimonial mt-4 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis.</div>
                  <div class="name">Makeup Artist</div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card card-produk">
                  <div class="img-card"><img src="assets/img/_DSF2663.jpg" alt="" /></div>
                  <div class="testimonial mt-4 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis.</div>
                  <div class="name">PhotoBooth</div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card card-produk">
                  <div class="img-card"><img src="assets/img/Pelaminan.jpg" alt="" /></div>
                  <div class="testimonial mt-4 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis.</div>
                  <div class="name">Pelaminan</div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card card-produk">
                  <div class="img-card"><img src="assets/img/1.jpg" alt="" /></div>
                  <div class="testimonial mt-4 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit saepe quo natus aut accusantium alias blanditiis.</div>
                  <div class="name">Mohammad Imran</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="mt-5 mb-5 slider-2">
      <div class="d-flex align-items-center py-5 mh-100">
        <a class="carousel-control-prev text-decoration-none" href="#mycarousel" role="button" data-bs-slide="prev">
          <div class="d-flex flex-column justify-content-center me-2 ms-auto left">PREV<span class="fas fa-arrow-left"></span></div>
          <span class="sr-only">Previous</span>
        </a>
        <div class="container con-slide">
          <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
              <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-6"><img src="https://images.pexels.com/photos/8052808/pexels-photo-8052808.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="d-block w-100" alt="..." /></div>
                  <div class="col-lg-6">
                    <div class="d-flex flex-column justify-content-center my-5 px-3">
                      <p class="review text-center">"Incredible services and amazing customer support"</p>
                      <div class="name d-flex align-items-center justify-content-center">
                        <span class="fas fa-minus pe-1"></span>
                        <p class="m-0">Joy Smith</p>
                      </div>
                      <p class="job text-center">Project Manager</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-6"><img src="https://images.pexels.com/photos/8052808/pexels-photo-8052808.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="d-block w-100" alt="..." /></div>
                  <div class="col-lg-6">
                    <div class="d-flex flex-column justify-content-center my-5 px-3">
                      <p class="review text-center">"Incredible services and amazing customer support"</p>
                      <div class="name d-flex align-items-center justify-content-center">
                        <span class="fas fa-minus pe-1"></span>
                        <p class="m-0">Joy Smith</p>
                      </div>
                      <p class="job text-center">Project Manager</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-6"><img src="https://images.pexels.com/photos/8052808/pexels-photo-8052808.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="d-block w-100" alt="..." /></div>
                  <div class="col-lg-6">
                    <div class="d-flex flex-column justify-content-center my-5 px-3">
                      <p class="review text-center">"Incredible services and amazing customer support"</p>
                      <div class="name d-flex align-items-center justify-content-center">
                        <span class="fas fa-minus pe-1"></span>
                        <p class="m-0">Joy Smith</p>
                      </div>
                      <p class="job text-center">Project Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-next text-decoration-none" href="#mycarousel" role="button" data-bs-slide="next">
          <div class="d-flex flex-column justify-content-center right ms-2 me-auto">NEXT <span class="fas fa-arrow-right"></span></div>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section> -->

    <section class="mt-5 galeri">
      <div class="container con-galeri">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0">
            <div class="image">
              <img src="assets/img/3.jpg" alt="" />
              <div class="overlay">
                <p class="h4">Sanggar Mutia Zayyana</p>
                <p class="textmuted">Dokumentasi Sanggar MutiaZayyana</p>
                <ul class="list-unstyled d-flex">
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0">
            <div class="image">
              <img src="assets/img/2.jpg" alt="" />
              <div class="overlay">
                <p class="h4">Sanggar Mutia Zayyana</p>
                <p class="textmuted">Dokumentasi Sanggar MutiaZayyana</p>
                <ul class="list-unstyled d-flex">
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0">
            <div class="image">
              <img src="https://images.pexels.com/photos/4388165/pexels-photo-4388165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
              <div class="overlay">
                <p class="h4">Sanggar Mutia Zayyana</p>
                <p class="textmuted">Dokumentasi Sanggar MutiaZayyana</p>
                <ul class="list-unstyled d-flex">
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0">
            <div class="image">
              <img src="https://images.pexels.com/photos/4577718/pexels-photo-4577718.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" />
              <div class="overlay">
                <p class="h4">Sanggar Mutia Zayyana</p>
                <p class="textmuted">Dokumentasi Sanggar MutiaZayyana</p>
                <ul class="list-unstyled d-flex">
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0">
            <div class="image">
              <img src="https://images.pexels.com/photos/3449662/pexels-photo-3449662.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" />
              <div class="overlay">
                <p class="h4">Sanggar Mutia Zayyana</p>
                <p class="textmuted">Dokumentasi Sanggar MutiaZayyana</p>
                <ul class="list-unstyled d-flex">
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0">
            <div class="image">
              <img src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" />
              <div class="overlay">
                <p class="h4">Sanggar Mutia Zayyana</p>
                <p class="textmuted">Dokumentasi Sanggar MutiaZayyana</p>
                <ul class="list-unstyled d-flex">
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="mt-5">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Layanan Kami</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Wedding Organizer</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Tata Rias</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Tari</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Fotographi</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Hubungi Kami</h4>
              <p>
                Palembang, <br />
                Sumatera Selatan<br /><br />
                <strong>Phone:</strong> 0821-xxx-xxx<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>About MutiaZayyana</h3>
              <p>Mutia Zayyana Merupakan Penyedia Layanan Pernikahan Mulai dari ...</p>
            </div>
            <div class="col-lg-3 col-md-6 footer-info">
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © Copyright
          <strong
            ><span><a href="https://galaxitechnology.com/">Galaxi Technology</a></span></strong
          >
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="assets/js/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <script src="assets/js/nav.js"></script>
  </body>
</html>
