<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="assets/css/nav.css" />
    <link rel="stylesheet" href="assets/css/kontak.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark navbar-transparent fixed-top">
      <div class="wrapper"></div>
      <div class="container-fluid all-show">
        <a class="navbar-brand" href="#">Mutia Zayyana </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="layanan.html">Layanan</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="kontak.html">contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="kontak">
      <div class="container con-kontak">
        <div class="card-kontak">
          <div class="form">
            <div class="left-side">
              <span class="line1"></span> <span class="line2"></span> <span class="line3"></span>
              <div class="contact-us">
                <p>Contact Us</p>
                <span></span>
              </div>
              <div class="social"><i class="fa fa-facebook-f"></i> <i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i> <i class="fa fa-dribbble"></i></div>
            </div>
            <div class="right-side">
              <div class="top-div">
                <h2>Berikan Komentar Anda !</h2>
                <p>Hubungi Kami Kapanpun</p>
              </div>
              <div class="stats">
                <div class="stats1">
                  <i class="fa fa-map-marker"></i> <span> Palembang<br />Sumatera Selatan</span>
                </div>
                <div class="stats1"><i class="fa fa-phone"></i> <span>0821-xxx-xxx</span></div>
                <div class="stats1"><i class="fa fa-envelope"></i> <span>email@us.com</span></div>
              </div>
              <div class="card-content">
                <span>
                  <div class="input-text"><input type="text" required="required" /> <small>Nama</small></div>
                  <div class="input-text"><input type="text" required="required" /> <small>E-mail</small></div>
                  <div class="textarea"><textarea required="required"></textarea> <small>Pesan</small></div>
                </span>
              </div>
              <div class="buttons"><button>Kirim</button></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="maps">
      <center>
        <h3 class="mt-5">Alamat</h3>
        <hr width="100rem" height="2rem" />
      </center>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 intro-section">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.7991294216545!2d104.72950371446218!3d-3.005575697811112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e3b9e19d4d2444b%3A0x4da6d043844b77aa!2sLebak%20Keranji!5e1!3m2!1sid!2sid!4v1639900880768!5m2!1sid!2sid"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <!-- <div class="col-sm-6 col-md-5 form-section">
            <div class="login-wrapper">
              <h2 class="login-title">Sign in</h2>
              <form action="#!">
                <div class="form-group"><label for="email" class="sr-only">Email</label> <input type="email" name="email" id="email" class="form-control" placeholder="Email" /></div>
                <div class="form-group mb-3"><label for="password" class="sr-only">Password</label> <input type="password" name="password" id="password" class="form-control" placeholder="Password" /></div>
                <div class="d-flex justify-content-between align-items-center mb-5"><input name="login" id="login" class="btn login-btn" type="button" value="Login" /> <a href="#!" class="forgot-password-link">Password?</a></div>
              </form>
              <p class="login-wrapper-footer-text">Need an account? <a href="#!" class="text-reset">Signup here</a></p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <footer id="footer" class="mt-5">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Layanan Kami</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Wedding Organizer</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Tata Rias</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Tari</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="layanan.html">Fotographi</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Hubungi Kami</h4>
              <p>
                Palembang, <br />
                Sumatera Selatan<br /><br />
                <strong>Phone:</strong> 0821-xxx-xxx<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>About MutiaZayyana</h3>
              <p>Mutia Zayyana Merupakan Penyedia Layanan Pernikahan Mulai dari ...</p>
            </div>
            <div class="col-lg-3 col-md-6 footer-info">
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © Copyright
          <strong
            ><span><a href="https://galaxitechnology.com/">Galaxi Technology</a></span></strong
          >
        </div>
      </div>
    </footer>

    <script src="assets/js/step.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
